
@{
    ViewData["Title"] = "Edit";
}

@model Person

<h1>Edit Person</h1>

<form method="post" asp-action="SaveUpdate" asp-controller="Person" asp-route-id="@Model.Id">

    <div class="form-group">
        <label for="textFirstName">First name:</label>
        <input type="text" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>

        <label for="textSurname">Surname:</label>
        <input type="text" asp-for="Surname" />
        <span asp-validation-for="Surname"></span>

        <label for="textBirthday">Birthday:</label>
        <input type="date" asp-for="Birthday" />
        <span asp-validation-for="Birthday"></span>
    </div>

    <button type="submit" class="btn btn-outline-dark btn-sm">Submit</button>
</form>